/* ==========================================================================
   INTRO BLOCK
   ========================================================================== */

/* Intro title */
.intro__title {
    font-size: 54px;
    font-weight: 900;
    line-height: 1;
    text-align: left;
}

/* Intro quote */
.intro__quote {
    margin-left: 0;
    margin-top: 40px;
}

.intro__quote-paragraph {
    font-size: 24px;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
}

.intro__quote-cite {
    display: inline-block;
    font-weight: 400;
    font-size: 24px;
    line-height: 1.5;
    margin-top: 10px;
    text-align: right;
    width: 100%;
}

/* Intro text */
.intro__text {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.63;
    margin-top: 75px;
    text-align: left;
}

/* ==========================================================================
   MEDIA QUERIES
   ========================================================================== */

/* Tablet styles */
@media screen and (max-width: 1024px) {
    .intro__title {
        font-size: 45px;
        line-height: 1.08;
        margin: 0 37px 0 24px;
        width: 92%;
    }

    .intro__quote {
        margin: 50px 0 0 0;
    }

    .intro__quote-paragraph {
        line-height: 1.41;
        margin: 0 24px;
        width: 94%;
    }

    .intro__quote-cite {
        line-height: 1.41;
        width: 94%;
    }

    .intro__text {
        line-height: 1.63;
        margin: 32px 24px 88px 24px;
        width: 94%;
    }
}

/* Mobile styles */
@media screen and (max-width: 544px) {
    .intro__title {
        font-size: 32px;
        line-height: 1.09;
        margin: 64px 16px 0;
        width: 90%;
    }

    .intro__quote {
        margin: 40px 16px 0;
    }

    .intro__quote-paragraph {
        margin: 0 16px;
        width: 90%;
    }

    .intro__quote-cite {
        margin: 10px 16px 0;
        width: 90%;
    }

    .intro__text {
        margin: 32px 16px 0;
        width: 90%;
    }
}