.page {
  background: #2A2C2F;
  font-family: "Inter", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.25;
  min-height: 100vh;
  min-width: 320px;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 11.6% 3.125%;
}

@media screen and (max-width: 1024px) {
  .page {
    padding: 0;
  }
}
